*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: #30837f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}